<div  class="dropdown" id="search-component">
   <input placeholder="Coworker name" aria-label="Coworker name" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" #searchBox id="search-box" (keyup)="search(searchBox.value)" />
   <div  class="dropdown-menu pull-left" role="menu" style="" aria-labelledby="dropdownMenuButton">
     <a *ngFor="let coworker of coworkers$ | async" class="dropdown-item" href="#" routerLink="/detail/{{coworker.id}}">
        {{coworker.name}}
      </a>
  </div>
</div>
